@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);



#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header4-4 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-4 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content5-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-article {
  color: #fff;
}
#footer1-9 P {
  text-align: center;
  color: #ffffff;
}



#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #ffffff;
}
#header4-9 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-9 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content1-95 H1 {
  font-size: 30px;
  text-align: center;
}
#content1-95 P {
  font-size: 20px;
}
#content1-96 H1 {
  text-align: center;
}
#content1-100 H1 {
  font-size: 30px;
  text-align: center;
}
#content1-103 H1 {
  font-size: 30px;
  text-align: center;
}
#content1-106 P {
  font-size: 20px;
}
#footer1-13 P {
  text-align: center;
  color: #ffffff;
}



#dropdown-menu-15 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-15 .nav .link,
#dropdown-menu-15 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-15 .navbar,
#dropdown-menu-15 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-15 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-15 .dropdown-menu a:hover,
#dropdown-menu-15 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-15 .navbar-toggler {
  color: #ffffff;
}
#header4-16 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  text-align: center;
}
#header4-16 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
}
#slider-79 H1 {
  font-size: 17px;
  color: #000000;
}
#msg-box3-82 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-82 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-82 .mbr-article P {
  text-align: center;
}
#footer1-20 P {
  text-align: center;
  color: #ffffff;
}



#dropdown-menu-21 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-21 .nav .link,
#dropdown-menu-21 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-21 .navbar,
#dropdown-menu-21 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-21 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-21 .dropdown-menu a:hover,
#dropdown-menu-21 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-21 .navbar-toggler {
  color: #ffffff;
}
#header4-22 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-22 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content5-94 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-94 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-94 .mbr-article {
  color: #fff;
}
#content5-94 .mbr-article P {
  font-size: 20px;
}
#footer1-26 P {
  text-align: center;
  color: #ffffff;
}




#dropdown-menu-27 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-27 .nav .link,
#dropdown-menu-27 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-27 .navbar,
#dropdown-menu-27 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-27 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-27 .dropdown-menu a:hover,
#dropdown-menu-27 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-27 .navbar-toggler {
  color: #ffffff;
}
#header4-28 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-28 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content1-77 P {
  font-family: 'Bitter', serif;
  color: #000000;
  font-size: 20px;
  text-align: left;
}
#video2-78 SMALL {
  font-size: 15px;
  color: #777777;
}
#footer1-32 P {
  text-align: center;
  color: #ffffff;
}


#msg-box3-42 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
#msg-box3-42 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-42 .mbr-article P {
  text-align: center;
  font-size: 20px;
}
#form1-39 .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-33 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-33 .nav .link,
#dropdown-menu-33 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-33 .navbar,
#dropdown-menu-33 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-33 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-33 .dropdown-menu a:hover,
#dropdown-menu-33 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-33 .navbar-toggler {
  color: #ffffff;
}
#footer1-38 P {
  text-align: center;
  color: #ffffff;
}



#dropdown-menu-43 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-43 .nav .link,
#dropdown-menu-43 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-43 .navbar,
#dropdown-menu-43 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-43 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-43 .dropdown-menu a:hover,
#dropdown-menu-43 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-43 .navbar-toggler {
  color: #ffffff;
}
#header4-44 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-44 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content5-75 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-75 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-75 .mbr-article {
  color: #fff;
}
#content5-75 .mbr-article P {
  font-size: 24px;
}
#footer1-48 P {
  text-align: center;
  color: #ffffff;
}
#msg-box3-77 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-77 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-77 .mbr-article P {
  color: #ffffff;
  font-size: 19px;
}





#dropdown-menu-49 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-49 .nav .link,
#dropdown-menu-49 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-49 .navbar,
#dropdown-menu-49 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-49 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-49 .dropdown-menu a:hover,
#dropdown-menu-49 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-49 .navbar-toggler {
  color: #ffffff;
}
#header4-50 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-50 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content1-57 P {
  font-family: 'Roboto Slab', serif;
  color: #000000;
  font-size: 21px;
}
#content1-57 DIV {
  font-family: 'Roboto Slab', serif;
  color: #000000;
  font-size: 21px;
  text-align: center;
}
#footer1-54 P {
  text-align: center;
  color: #ffffff;
}



#dropdown-menu-55 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-55 .nav .link,
#dropdown-menu-55 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-55 .navbar,
#dropdown-menu-55 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-55 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-55 .dropdown-menu a:hover,
#dropdown-menu-55 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-55 .navbar-toggler {
  color: #ffffff;
}
#header4-56 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-56 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#msg-box3-57 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-57 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-57 .mbr-article P {
  font-size: 21px;
  color: #ffffff;
}
#msg-box3-66 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-66 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-58 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-58 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-58 .mbr-article P {
  color: #ffffff;
  font-size: 21px;
}
#msg-box3-67 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-67 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-68 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-68 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-68 .mbr-article P {
  color: #ffffff;
  font-size: 21px;
}
#msg-box3-72 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-72 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-83 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-83 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-83 .mbr-article P {
  color: #ffffff;
  font-size: 21px;
}
#msg-box3-73 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-73 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-73 .mbr-article P {
  font-size: 21px;
  color: #ffffff;
}
#msg-box3-74 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-74 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-75 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-75 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-75 .mbr-article P {
  color: #ffffff;
  font-size: 21px;
}
#msg-box3-77 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-77 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-77 .mbr-article P {
  color: #ffffff;
  font-size: 21px;
}
#msg-box3-79 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-79 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-80 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-80 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-80 .mbr-article P {
  font-size: 21px;
  color: #ffffff;
}
#msg-box3-82 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-82 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-60 P {
  text-align: center;
  color: #ffffff;
}





#dropdown-menu-79 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-79 .nav .link,
#dropdown-menu-79 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-79 .navbar,
#dropdown-menu-79 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-79 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-79 .dropdown-menu a:hover,
#dropdown-menu-79 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-79 .navbar-toggler {
  color: #ffffff;
}
#header4-80 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-80 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content1-89 P {
  font-family: 'Lora', serif;
  font-size: 19px;
  color: #000000;
}
#content1-90 P {
  font-family: 'Lora', serif;
  font-size: 19px;
  color: #000000;
}
#footer1-84 P {
  text-align: center;
  color: #ffffff;
}
